:root {
  --bg: #0f172a;
  --text: white;
  --card: rgba(255,255,255,0.05);
}

.light {
  --bg: #ffffff;
  --text: #111;
  --card: #f4f4f4;
}

body {
  margin: 0;
  font-family: sans-serif;
  background: var(--bg);
  color: var(--text);
  text-align: center;
  transition: 0.4s;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}

.profile {
  width: 150px;
  border-radius: 50%;
  margin-top: 20px;
  box-shadow: 0 0 25px cyan;
}

header {
  padding: 60px 20px;
}

.btn {
  display: inline-block;
  margin-top: 15px;
  background: #38bdf8;
  color: black;
  padding: 12px 25px;
  border-radius: 30px;
  text-decoration: none;
}

section {
  padding: 40px 20px;
}

.skills span {
  border: 1px solid #38bdf8;
  padding: 10px 20px;
  margin: 10px;
  display: inline-block;
  border-radius: 20px;
}

.card {
  background: var(--card);
  padding: 20px;
  margin: 20px auto;
  border-radius: 20px;
  width: 300px;
}

.live, .code {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
}

.live { background: #22c55e; color: white; }
.code { background: #38bdf8; color: black; }

.social a {
  margin: 10px;
  color: #38bdf8;
  text-decoration: none;
}
